<% include ./partials/header %>


<h1>B-hyve Help Page</h1>

<% blogs.forEach(function(blog){ %>
    <div id="answers" class="ui styled fluid accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            <span id="ques"><%=blog.question%></span>
        </div>
        <div id="ans" class="content">
            <p id="quillText"><%-blog.answer%></p>
            <p>Last Updated: <%=blog.date%></p>
        </div>
    </div>

<% }); %>


<script>
    $('.ui.accordion').accordion();
</script>

<% include ./partials/footer %>
