<% include ./partials/add_header %>


<h1>Enter A New Question and Answer</h1>
<p>Please fill out all fields</p>

<h2>Which Product(s) is this question applicable to</h2>
<p>Select at least one</p>

<!-- Product Selection Area -->
<form class="ui form" action="/blogs" method="post">
    <div class="field">
        <label for="selection">Categorie(s)</label>
        <p>select at least one</p>
        <select multiple class="ui dropdown" name="blog[products]" id="products">
            <option value="General">General</option>
            <option value="HT25">HT25</option>
            <option value="WT15">WT15</option>
            <option value="WT25">WT25</option>
            <option value="Hub">Hub</option>
        </select>
    </div>

<!-- Question Section -->
    <div class="field">
        <label for="question"><h2 class="headlabel">Question Being Answered</h2></label>  
        <input type="text" name="blog[question]" placeholder="Enter Question"> 
    </div>

    <!-- Quill JS Editor -->
    <div id="ql-box" class="ui fluid form">
        <label for="blog[answer]"><h2 class="headlabel">Response</h2></label>
        <input type="hidden" name="blog[answer]" id="answer">
        <div id="editor">
            <p><br></p>
    </div>
    </div>

        <!-- Make Live Section -->
    <div class="ui selection dropdown">
        <input type="hidden" name="blog[display]" required>
        <i class="dropdown icon"></i>
        <div class="default text">Active?</div>
        <div class="menu">
            <div class="item" data-value="1">Active</div>
            <div class="item" data-value="0">Not Active</div>
        </div>
    </div>

        <!-- Save & Delete Buttons -->
    <input type="submit" class="ui green big basic button">
</form>



<script>
    $('.ui.dropdown').dropdown();
    $('#multi-select')
  .dropdown()
;
</script>

<% include ./partials/footer %>
