body {
    font-family: 'Raleway', sans-serif;
}

h1{
    text-align: center;
}

.category {
    text-align: center;
    text-transform: uppercase; 
}

#answers {
    max-width: 80pc;
    margin: 0 auto;
}

#ques {
    font-size: 1.5rem;
}

#ans {
    margin-left: 25px;
}

#quillText {
    text-align: justify;
}

img {
    max-width: 50vw;
}

#singlePost {
    width: 90vw;
    margin: 0 auto;
    text-align: justify;
}
